.app{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.nav{
    background-color: red;
    flex-grow: 1;
    
}
.container{
    background-color: blue;
    flex-grow: 10;
    display: flex;
}

.content{
    max-width: 1366px;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1%;
    background-color: honeydew;
    flex: 1 
}

.picture{
    background-color: hotpink;
    height: 100%;
    width: 100%;
    flex: 1
}
.footer {
    background-color: green;
    flex-grow: 1;
}